
@using EPiServer.Core;
@using EPiServer.Web.Mvc.Html
@model EPiServer.Reference.Commerce.Site.Features.Annexcloud.Pages.LoyaltyDashboard


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Raw(ViewBag.HtmlStr)


<div id="socialannex_dashboard"></div>


